.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  .skip:focus {
    position: static;
    width: auto;
    height: auto;
  }

@media only screen and (max-width: 992px) {
    nav a {display: block; max-width: 100%; margin: 10px;} 
    nav span {display: none;}
}