body {
    font-family: 'Times New Roman', serif;
    background-color: #cff09e
    ;
}

h1, h2, h3 {color: #0b486b;}

p, ul {color: #38634c;}

a:link {color: #3b8686;}
a:visited {color: #42037c}

nav {
    background-color: #8ddbe1;
    padding: 10px;
    margin-bottom: 30px;
}
nav a {color: #3B8686;}
nav a:hover {background-color: #0b486b;}

